
/*Configuração de todos os elementos do HTML*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Configuração Cabeçalho*/

header{
    display: flex;
    background-color: #1e242b;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    
    

}

header *{
    margin-left: 10px;
}

header .fa-qrcode{
    font-size: 24px;
    color: white;
    margin-right: 3px;
    margin-top: 4px;
}
header h3{
    color: white;
    font-size: 25px;
    margin-bottom: 3px;
    padding-right: 40%;
}

header img{
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


 @media screen and (min-width: 420px) and (max-width: 850px){
    header h3{
        font-size: 14px;
    }

    header .fa-qrcode{
        font-size: 14px;
    }
} 

main input, .btns{
    margin-top: 9px;
    margin-bottom: 9px;
    
}

.conteudo-card{
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.conteudo-card.active{
    display: block !important;
    opacity: 1;
}

.nav-menu{
    border-bottom: 1px solid #dde2e6;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    margin: 0;
    gap: 20px;
}
nav{
    padding: 7px;
}

nav li{
    margin-bottom: -1px;
}

.nav-link{
    border: 1px solid transparent;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
    color: #0d6efd !important;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in, border-color 0.15s ease-in-out;
}

/* .nav-link.active{
    background-color: #dde2e6;
    border-color: #dee2e6 #dde2e6 #fff;
} */

.card{
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 1200px;
    border: none;
    transition: transform 0.2s;
   display: block;

   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
}

.card:hover{
transform: translateY(-2px);
}


.card-cabecalho{
    background-color: #1e242b;
    color: white;
    border-radius: 10px 10px 0 0 !important;
    font-weight: bold;
    width: 100%;
    padding: 6px;
    display: flex;
    align-items: center;
}

.card-corpo{
    
    padding: 1.5rem;
  
}

.data input, select, .gerarRelatorio{
    width: 250px;
    border-color: #1e242b30;
}

.gerarRelatorio{
    background-color: #3498db;
    color: white;
    border-bottom: #3498db;
    border-radius: 7px;
    width: 250px;
    height: 32px;
      
}

.tipoUser{
    color: gray;
    cursor: pointer;
}

.btns button{
    border-radius: 10px;
    padding: 2px 5px;
}


.btns button{
    border-radius: 5px;
    border: none;
}

.expPdf{
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: white;
}

.expExcel{
    background-color: #27ae60;
    border-color: #27ae60;
    color: white;
}
.backupDados{
    background-color: #ffc107;
    border-color: #ffc107;
}
.RestaurarDados{
    background-color: #0dcaf0;
    border-color: #0dcaf0;
}



.tabela-responsiva{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.tabela{
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
   
    
    flex-direction: column;
    
}

.tabela tr{
    display: table-row;
}

.tabela td, .tabela th{
    display: table-cell;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

.tabela thead th{
    color: black;
    padding: 16px 20px;
    text-align: center;
    font-weight: bold;
    border: none;
    margin-left: 120px;
}

.tabela tbody td{
    padding: 5px;
    text-align: center;
   
    border: none;
}

.tabela tbody tr:last-child{
    border-bottom: none;
}

.tabela tbody tr td[colspan]{
    text-align: center;
   padding: 8px;
    color: #666;
    font-style: italic;
    background-color: transparent;
}

/* tbody, td, th, thead, tr{
border-color: inherit;
border-style: solid;
border-width: 0;
} */

/* tr{
   display: flex;
   justify-content: space-between;
   width: 600px;
   margin-right: 80px; 
   align-items: center;
} */
/* tbody{
    display: flex;
    align-items: center;
    justify-content: center;
} */

tbody tr{
    width: 100%;
    background-color: #1e242b2b;
    
    
}

/* td{
    display: block;
    margin: auto;
} */

button{
    width: 150px;
    height: 40px;

}


/*Gerenciar Alunos*/
.container-gerenciarAluno, .gerenciarTurmas{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
}

.container-gerenciarAluno button, .gerenciarTurmas button{
    background-color: #3498db;
    color: white;
    border-color: #3498db;
    border: none;
    border-radius: 7px;
    width: 250px;
    font-weight: 500 !important;
}


.corpo-turmas{
    width: 500px !important;
}

/*Gerenciar Admin*/

#administracao button{
    width: 210px;
    border-radius: 6px;

}

.admin-corpo{
  justify-content: space-evenly;
  width: 100%;
   display: flex;
   flex-direction: column;
    
}

.card-c{
    display: flex;
   
}

.btnLimpar button{
    background-color: #e74c3c;
    border-color: #e74c3c;
    border: none;
    color: white;
} 
.btnLincializar button{
    background-color: #3498db;
    border-color: #3498db;
    border: none;
    color: white;
} 